@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif; */
    /* font-family: "Roboto", sans-serif; */
    font-family: "Montserrat", sans-serif;
    background-color: #333;
    color: #fff;
}

#root button {
    margin-right: 5px;
}

#root .control-buttons {
    margin: 10px 0 5px;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid #f50057;
}
